html {
  font-family: sans-serif;
  padding-bottom: 5em;
}

figure {
  margin: 0;
  min-width: 15em;
}

figcaption {
  font-size: 2em;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0.2em;
}

.header__title {
  font-size: 4em;
  text-align: center;
  margin: 0.5em 0;
}

.candidatos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  max-width: 70em;
  padding: 0;
}

.candidato {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  user-select: none;
  align-items: center;
  margin-bottom: 2em;
}

.candidato:last-child {
  margin-bottom: 0;
}

.candidato__image {
  display: block;
  margin: 0 auto;
  max-height: 10em;
  width: auto;
}

.candidato__count {
  font-size: 3em;
  margin: 0;
  max-width: 2em;
  min-width: 2em;
  text-align: center;
  font-weight: 900;
}

.candidato__votes {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  max-width: 60em;
  padding: 0;
}

.candidato__votes li {
  height: 2em;
  list-style: none;
  margin: 0.2em;
  padding: 0;
  width: 2em;
}

[data-candidate="0"] .candidato__votes li {
  background-color: #8ac6f8;
}

[data-candidate="0"]:active {
  outline: 2px dashed #8ac6f8;
}

[data-candidate="1"] .candidato__votes li {
  background-color: #ed4433;
}

[data-candidate="1"]:active {
  outline: 2px dashed #ed4433;
}

[data-candidate="2"] .candidato__votes li {
  background-color: #e4b25b;
}

[data-candidate="2"]:active {
  outline: 2px dashed #e4b25b;
}

@media (max-width: 789px) {
  figure {
    min-width: auto;
  }

  figcaption {
    font-size: 4vw;
  }

  .header__title {
    font-size: 8vw;
  }

  .candidatos {
    flex-direction: row;
  }

  .candidato {
    flex-direction: column;
    margin-bottom: 0;
  }

  .candidato__image {
    max-height: 30vw;
    height: 30vw;
  }

  .candidato__count {
    display: block;
    margin: 0.1em auto;
    font-size: 4vw;
  }

  .candidato__votes {
    justify-content: center;
  }

  .candidato__votes li {
    height: 3vw;
    width: 3vw;
    margin: 0.5vw;
  }
}
