html {
  font-family: sans-serif;
  padding-bottom: 5em;
}

.header__title {
  font-size: 5em;
  text-align: center;
}

.candidatos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  max-width: 70em;
  padding: 0;
}

.candidato {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  user-select: none;
}

.candidato:last-child {
  margin-bottom: 0;
}

.candidato__image {
  height: 100%;
  max-width: 12em;
}

.candidato__count {
  font-size: 4em;
  margin: 0;
  max-width: 2em;
  min-width: 2em;
  text-align: center;
}

.candidato__votes {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  max-width: 60em;
  padding: 0;
}

.candidato__votes li {
  height: 4.5em;
  list-style: none;
  margin: 0.2em;
  padding: 0;
  width: 4.5em;
}

[data-candidate="0"] .candidato__votes li {
  background-color: #2c63c3;
}

[data-candidate="0"]:active {
  outline: 2px dashed #2c63c3;
}

[data-candidate="1"] .candidato__votes li {
  background-color: #e383ac;
}

[data-candidate="1"]:active {
  outline: 2px dashed #e383ac;
}

[data-candidate="2"] .candidato__votes li {
  background-color: #d0cc51;
}

[data-candidate="2"]:active {
  outline: 2px dashed #d0cc51;
}

@media (max-width: 789px) {
  html {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1200 - 320)));
  }

  .header__title {
    font-size: 4em;
  }

  .candidato {
    flex-direction: column;
    margin-bottom: 4em;
  }

  .candidato__image {
    display: block;
    margin: 0 auto;
  }

  .candidato__count {
    display: block;
    margin: 0.1em auto;
  }

  .candidato__votes {
    min-height: 3.5em;
  }

  .candidato__votes li {
    height: 3em;
    width: 3em;
  }
}
